@use "../internal/scaleToken" as scale;

@mixin m($scale) {
	margin: scale.getToken($scale);
}

@mixin ml($scale) {
	margin-inline-start: scale.getToken($scale);
}

@mixin mr($scale) {
	margin-inline-end: scale.getToken($scale);
}

@mixin mt($scale) {
	margin-block-start: scale.getToken($scale);
}

@mixin mb($scale) {
	margin-block-end: scale.getToken($scale);
}

@mixin mx($scale) {
	margin-inline: scale.getToken($scale);
}

@mixin my($scale) {
	margin-block: scale.getToken($scale);
}
