.self-start {
	align-self: start;
}
.self-end {
	align-self: end;
}
.self-center {
	align-self: center;
}
.self-baseline {
	align-self: baseline;
}
.items-start {
	align-items: start;
}
.items-end {
	align-items: end;
}
.items-center {
	align-items: center;
}
.items-baseline {
	align-items: baseline;
}
.justify-start {
	justify-content: start;
}
.justify-end {
	justify-content: end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.flex-1 {
	flex: 1;
}
.flex-initial {
	flex: 0 1 auto;
}
.flex-auto {
	flex: 1 1 auto;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.flex {
	display: flex;
}
.grow {
	flex-grow: 1;
}
.shrink {
	flex-shrink: 1;
}
.shrink-0 {
	flex-shrink: 0;
}
