@each $scale in scale.$scales {
	.m-#{$scale} {
		margin: var(--scale-#{$scale});
	}
	.mx-#{$scale} {
		margin-inline: var(--scale-#{$scale});
	}
	.my-#{$scale} {
		margin-block: var(--scale-#{$scale});
	}
	.mt-#{$scale} {
		margin-top: var(--scale-#{$scale});
	}
	.mb-#{$scale} {
		margin-bottom: var(--scale-#{$scale});
	}
	.ml-#{$scale} {
		margin-left: var(--scale-#{$scale});
	}
	.mr-#{$scale} {
		margin-right: var(--scale-#{$scale});
	}
}

.m-auto {
	margin: auto;
}

.mx-auto {
	margin-inline: auto;
}

.my-auto {
	margin-block: auto;
}

.mt-auto {
	margin-top: auto;
}

.mb-auto {
	margin-bottom: auto;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}
