@use "../internal/scales" as scale;

@each $scale in scale.$scales {
	.p-#{$scale} {
		padding: var(--scale-#{$scale});
	}
	.px-#{$scale} {
		padding-inline: var(--scale-#{$scale});
	}
	.py-#{$scale} {
		padding-block: var(--scale-#{$scale});
	}
	.pt-#{$scale} {
		padding-top: var(--scale-#{$scale});
	}
	.pb-#{$scale} {
		padding-bottom: var(--scale-#{$scale});
	}
	.pl-#{$scale} {
		padding-left: var(--scale-#{$scale});
	}
	.pr-#{$scale} {
		padding-right: var(--scale-#{$scale});
	}
}
